{% extends 'base.html' %}

{% block contents %}
    {% for blog in blogs.all %}
    <br>
    <div class='container'>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">제목:{{blog.title}} <br>작성자 : {{blog.writer}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
            <p class="card-text">{{blog.summary}}</p>
            <a href="{%url 'detail' blog.id%}" class="card-link">...more</a>
            <a href="{%url 'edit' blog.id%}" class="card-link">수정하기</a>
            <a href="{%url 'delete' blog.id%}" class="card-link">삭제하기</a>
             
        </div>
    </div>
</div>
    {%endfor%}

</div>
</body>

</html>
<style>
        @import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Song+Myung');
       
       .pont {
               font-family: 'Do Hyeon';}
        a{
           all: unset;
          
       }
       </style>
{% endblock %}       